<h1>
  Edit venue #<%= @venue.id %>
</h1>

<hr>

<form action="/update_venue/<%= @venue.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update venue
  </button>
</form>

<hr>

<a href="/venues">
  Go back
</a>
