<h1>
  Add a new neighborhood
</h1>


<hr>

<form action="/create_neighborhood" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create neighborhood
  </button>
</form>

<hr>

<a href="/neighborhoods">
  Go back
</a>
